/* body of website */
body {
    font-family: 'Roboto Slab', serif;
    background-image: linear-gradient(#0B0C10, #1F2833, rgb(174, 175, 177));
}

/* Header */
.header {
    margin-left: 20px;
    font-family: 'Oswald', sans-serif;
    color: #66FCF1;
}

/* "Movie Wishlist" title */
h1 {
    float: left;
    padding-right: 80px;
}

/* Navigation bar buttons */
.navbar {
    padding: 20px;
    display: inline-block;
    margin-top: 70px;
    margin-bottom: 20px;
    position: sticky;
}

/* Add to Wishlist button and checkbox on wishlist movies */
.add-button, .checkbox {
    padding: 2px 10px 2px 10px;
    background-color: #0B0C10;
    color: #ffffff;
    font-size: 12pt;
    border: 2px solid #45A29E;
    border-radius: 10px;
}

.add-button:hover, .checkbox:hover {
    color: #0B0C10;
    background-color: #66FCF1;
}

/* Transform buttons on click */
#search-movie:active, #trending-movies:active, #user-favorites:active {
    transform: translateY(4px);
}

/* Buttons on navbar */
#search-movie, #trending-movies, #user-favorites {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: 2px solid #45A29E;
    border-radius: 10px;
    color: #ffffff;
    background-color: #0B0C10;
}

#search-movie:hover, #trending-movies:hover, #user-favorites:hover {
    background-color: #66FCF1;
    color: #0B0C10;
}

.btn {
    margin-right: 20px;
}

/* Trending and latest user search container */
.results, .trend-results {
    -webkit-align-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 5px;
    margin: 10px 10px 20px 20px;
    display: inline-block;
    vertical-align: top;
    border: 2px solid #45A29E;
    background: #dddedf;
}

/* Poster image for Search results */
.results-img {
    width: 65%;
    height: auto;
    -webkit-align-content: center;
    align-content: center;
    flex-wrap: wrap;
}

/* Poster image for Latest User Favorites */
.user-movies {
    width: 65%;
    height: auto;
    -webkit-align-content: center;
    align-content: center;
    flex-wrap: wrap; 
}

.result-img {
    height: 250px;
    margin: 10px 10px 10px 0;
    box-shadow: 8px 8px 8px;
}

.movie-info, .trend-info {
    height: 300px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px; 
}

.wishlist {
    margin: 10px;
    height: 250px;
    position: relative;
}

#main-container {
    display: flex;
    margin: 0 auto;
}

#search-container {
    flex: 3;
}

#wishlist-container {
    flex: 1;
    background-image: linear-gradient(#C5C6C7, #45A29E, #66FCF1);
    border: 2px solid black;
    padding: 10px;
    height: 100%;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 0; 
}

.movie-wish {
    height: 250px;
    box-shadow: 8px 8px 8px;
}

/* Wishlist checkbox */
.checkbox {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

/* Movie Trailer */
#video-player {
    position: fixed;
    width: 853px;
    height: 480px;
    top: 50%;
    left: 50%;
    margin-top: -240px;
    margin-left: -426px;
    z-index: 100;
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.9;
    z-index: 99;
}

#close-button {
    position: absolute;
    top: -30px;
    right: 0;
}