body {
    font-family: 'Chewy', cursive;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

a {
    color: #008CBA;
    text-decoration: none;
}

#search-container {
    margin: 10px 0 10px 20px;
}

#movie-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 30px;
}

#movie-input {
    margin: 10px 0 10px 0;
}

#search-movie, .add-button, .checkbox {
    padding: 2px 10px 2px 10px;
    background-color: #008CBA;
    color: white;
    font-family: 'Chewy', cursive;
    font-size: 12pt;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.results {
    display: flex;
    flex-wrap: wrap;
}

.result-img {
    height: 250px;
    margin: 10px 10px 10px 0;
}

.movie-info {
    height: 150px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.add-button {
    width: 140px;
}

.wishlist {
    margin: 10px;
    height: 250px;
    position: relative;
}

#main-container {
    display: flex;
}

#search-container {
    flex: 3;
}

#wishlist-container {
    flex: 1;
    background-image: url("../images/linedpaper.png");
    border-left: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
}

.movie-wish {
    height: 250px;
}

.checkbox {
    position: absolute;
    bottom: 5px;
    right: 5px;
}