body {
    font-family: 'Chewy', cursive;

    background: #2F2FA2;
}
/*There was a conflict here, i think it was resolved, but if not it was within header and jumbo.*/
/* Header */
.header {
    margin-left: 20px;
    background-color: #2F2FA2;
    color: #F64C72;

    background: #f4f7f6;
}

/* Header */
#jumbo {
    text-align: center;
    background: url(../images/moviebgd.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    color: #fefbd8;

    font-family: 'Cabin Sketch', cursive;
}

.jumbo-container {
    display: inline-block;
}

/* .display-4 {
    float: left;
    bottom: 40px;
} */

h2 {
    float: left;
    padding-right: 80px;
}

.title {
    float: right;
}

#form {
    text-align: center;
    background: lightgrey;
}

a {
    color: #4040a1;
    text-decoration: none;
}

#search-container {
    margin: 10px 0 10px 20px;
}

#movie-form {
    display: inline;
    /* flex-direction: column; */
    /* align-items: center; */
    /* margin-bottom: 30px; */
}



.add-button, .checkbox {
    padding: 2px 10px 2px 10px;
    background-color: #29507e;
    color: white;
    font-family: 'Chewy', cursive;
    font-size: 12pt;
    border: 1px solid lightgray;
    border-radius: 10px;
}

#search-movie:active {
    transform: translateY(4px);
}

/* #search-movie {
    width: 100px;
    height: 35px;
    border: 1px solid black;
    border-radius: 25px;
    background: #fefbd8;
    color: black;
} */

#search-movie:hover {
    background-color: #84b5ec;
    color: #f4f7f6;
}

/* trending and user faves buttons */
#trending-movies, #user-favorites {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

}

#trending-movies:hover, #user-favorites:hover {
    background-color: #84b5ec;
    color: #f4f7f6;
}

.btn {
    margin-right: 20px;
}


/* trending and top user search container */
.results, .trend-results {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    margin-bottom: 20px;
    background: white;
    padding: 10px;
    box-shadow: 15px 15px 15px;
    margin-right: 20px;
}

.result-img {
    height: 250px;
    margin: 10px 10px 10px 0;
    box-shadow: 8px 8px 8px;
    /* padding: 5px; */
}

.movie-info, .trend-info {
    height: 300px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px; 
}

.add-button {
    width: 140px;
}

.wishlist {
    margin: 10px;
    height: 250px;
    position: relative;
}

#main-container {
    display: flex;

    background: #3c6ba0;  
    margin: 0 auto;
}

#search-container {
    flex: 3;
}

#wishlist-container {
    flex: 1;
    background-image: url("../images/linedpaper.png");
    border: 2px solid black;
    /* border-bottom: 2px solid lightgray; */
    padding: 10px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 0; 
}

.movie-wish {
    height: 250px;
    box-shadow: 8px 8px 8px;
}

.checkbox {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#video-player {
    position: fixed;
    width: 853px;
    height: 480px;
    top: 50%;
    left: 50%;
    margin-top: -240px;
    margin-left: -426px;
    z-index: 100;
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.9;
    z-index: 99;
}

#close-button {
    position: absolute;
    top: -30px;
    right: 0;
}